[Unit]
Description=CF IP Keeper - ALL sections health check (every 30 min)

[Service]
Type=oneshot
WorkingDirectory=/DATA/cf-ip-keeper
ExecStart=/bin/bash /DATA/cf-ip-keeper/zima_keeper_pass.sh
TimeoutStartSec=40min
